.navigation-menu {
  margin-left: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background: #fff;
  height: 82px;
  box-sizing: content-box;
  color: #161616;
}

.logo {
  width: 55px;
  height: 55px;
  background: url(../../assest/bag.svg);
}